.smallTitle{
    font-size: 30px;
    font-style: italic;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(130, 178, 219);
}

.largerTitle{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(130, 178, 219);
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
}

.img{
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}