.container {
    background-color: #dcfafa;
    padding: 20px;
    border-radius: 10px;
    margin: 60px;
}

.container h1{
    text-align: center;
}

.questionList {
    margin-top: 20px;
}

.questionItem {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #dcfafa;
    border-radius: 5px;
}

.questionItem img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.questionItem h3 {
    color: #333333;
}

.questionItem p {
    color: #666666;
    display: flex;
    align-items: center;
    gap: 10px;
}
